{
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 4,
  "plugins": [
      "prettier-plugin-apex",
      "@prettier/plugin-xml"
  ],
  "printWidth": 120,
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
