.stencil-label {
    background-color: #83807f;
    height: 0.4rem;
    border-radius: 2rem;
    width: 10rem;
}

.stencil-value {
    background-color: #5f5e5d;
    height: 0.4rem;
    border-radius: 2rem;
    width: 10rem;
}

.stencil-timeline {
    text-align: center;
    height: 70%;
    position: relative;
    top: 5%;
}

.stencil-timeline-spinner {
    text-align: center;
}

.slds-spinner_container, .slds-spinner--container {
    border-radius: 20px !important;
}

.illustration {
    padding: 10px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.illustration-hidden {
    display: none;
}

.timeline-container {
    position: relative;
    padding: 10px 5px 5px 5px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    border: #c9c9c9;
    border-width: 1px;
    border-style: solid;
}

.timeline-container-hidden {
    padding: 10px 5px 5px 5px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    display: none;
}

.timeline-filter {
    position: absolute;
    top: 0;
    border-radius: --slds-borderRadiusSmall;
}

.timeline-map-wrapper {
    background-color: #eaf5fe;
    padding: 10px;
    overflow: hidden;
    border-radius: 0px 0px 3px 3px;
}

.timeline-canvas-record-line {
    stroke: #d5dbe4;
    stroke-width: 1;
}

.timeline-canvas {
    overflow-y: auto;
    border-bottom: 1px solid #c9c9c9;
    overflow-x: hidden;
}

.timeline-canvas-axis {
    background-color: #fff;
    border-bottom: 1px solid #c9c9c9;
    height: 25px;
}

.timeline-canvas-axis line {
    stroke: #72a8e0;
}

.timeline-map {
    background-color: #fff;
    border: 1px solid #107cad;
    border-radius: 3px;
    height: 40px;
}

.timeline-map svg {
    height: 100%;
    width: 100%;
}

.timeline-map-axis {
    height: 20px;
}

.timeline-map-axis svg {
    overflow: visible;
}

/* axis labels */
.axis-ticks {
    font-family: Salesforce Sans, sans-serif;
    font-size: 10px;
}

.axis-ticks text {
    display: none;
}

.axis-label-LARGE text {
    color: rgb(62, 62, 60);
    font-size: 0.7rem;
}

.axis-label-MEDIUM text {
    color: rgb(62, 62, 60);
    font-size: 0.7rem;
}

.axis-label-SMALL text {
    color: rgb(62, 62, 60);
    font-size: 0.7rem;
}

/* axis tick marks */
.axis-ticks line {
    stroke-width: 1;
    stroke: #c9c9c9;
    stroke-dasharray: 9, 9;
    shape-rendering: crispEdges;
}

.axis-ticks-LARGE line {
    stroke-width: 1;
    stroke: #c9c9c9;
    stroke-dasharray: 9, 9;
    shape-rendering: crispEdges;
}

.axis-ticks-MEDIUM line {
    stroke-width: 1;
    stroke: #c9c9c9;
    stroke-dasharray: 9, 9;
    shape-rendering: crispEdges;
}

.axis-ticks-SMALL line {
    stroke-width: 1;
    stroke: #c9c9c9;
    --stroke: rgb(221, 224, 228);
    stroke-dasharray: 9, 9;
    shape-rendering: crispEdges;
}

.timeline-map-axis line {
    stroke: #107cad;
}

.timeline-map-axis text {
    fill: #107cad;
    height: 10px;
    color: #107cad;
    font-size: 0.7rem;
}

/* axis line */
.axis-ticks path {
    stroke: none;
}

.axis-label-LARGE path {
    stroke: none;
}

.axis-label-MEDIUM path {
    stroke: none;
}

.axis-label-SMALL path {
    stroke: none;
}

/* brush */
.brush .selection {
    stroke: #107cad;
    fill: #1ab9ff;
    fill-opacity: 0.3;
}

.timeline-canvas-record {
    stroke-width: 6;
    cursor: default;
    pointer-events: true;
}

.timeline-canvas-record-label {
    fill: rgb(63, 66, 71);
    shape-rendering: crispEdges;
    color: #080707;
    font-size: 0.8125rem;
    cursor: pointer;
}

.timeline-wrapper {
    --margin: 5px 5px 5px 5px;
    border: 1px solid #747474;
    border-radius: 3px;
    position: relative;
}

.slds-text-heading_medium {
    font-weight: 500;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.25;
}

.tooltip-loading {
    height: 45px !important;
}

.timeline-container .slds-grid.slds-grid_align-spread {
    padding-right: 2px;
    padding-left: 2px;
}

.tooltip-panel {
    background: rgb(243, 242, 242);
    color: #fff;
    position: fixed !important;
    border-radius: 4px;
    padding: 14px;
    font-size: 12px;
    z-index: 98;
    min-width: 400px;
    min-height: 150px;
    visibility: hidden;
    min-height: 100px !important;
}

.tooltip-content {
    --overflow: hidden;
    transition: 0.25s all ease;
    transition-delay: 0s;
    min-height: 100px;
}

.tooltip-popover {
    background: rgb(243, 242, 242);
    border-radius: 0.25rem;
    width: 25rem;
    min-height: 2rem;
    z-index: 98;
    --text-align: left;
    --background-color: #fff;
    display: inline-block;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%);
    border: 1px solid #dddbda;
}

.slds-nubbin_left-top:after {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 16%) !important;
}

@media only screen and (max-width: 900px) {
    .axis-label-LARGE .tick:nth-child(2n) text {
        visibility: hidden;
    }

    .timeline-summary-verbose {
        padding-right: 5px;
        padding-left: 5px;
        display: none;
    }

    .timeline-summary-short {
        padding-right: 5px;
        padding-left: 5px;
        display: inline-block !important;
    }
}

@media only screen and (max-width: 1200px) {
    .axis-label-MEDIUM .tick:nth-child(2n) text {
        visibility: hidden;
    }
}

.axis-label-SMALL .tick:nth-child(2n) text {
    visibility: hidden;
}

.timeline-summary-verbose-SMALL {
    --display: none;
}

.timeline-summary-short {
    padding-right: 5px;
    padding-left: 5px;
    display: none;
}

.sr-only {
    font-size: 0;
}

.sticky-button {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 5px;
}

.slds-panel__body {
    padding-bottom: 50px;
}

.timeline-summary-verbose {
    padding-right: 5px;
    padding-left: 5px;
}