/* sldsValidatorIgnore */
.illustration-img {
    width: 75%;
    height: 75%;
}

.illustration-heading {
    padding-top: 10px;
}

.illustration-subheading {
    padding-left: 2%;
    padding-right: 2%;
}
